.livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    max-width: 80%;
    margin: 24px auto;
}

.buscaPorTitulo {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.buscaPorTitulo__botao {
    margin: 16px;
}